In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Creating a sample sales dataset
data = {
    'Date': [datetime(2023, random.randint(1, 12), random.randint(1, 28)) for _ in range(100)],
    'Product': [random.choice(['A', 'B', 'C']) for _ in range(100)],
    'Category': [random.choice(['Electronics', 'Clothing', 'Books']) for _ in range(100)],
    'Quantity': [random.randint(1, 10) for _ in range(100)],
    'Price': [random.uniform(10, 100) for _ in range(100)]
}

In [2]:
df = pd.DataFrame(data)

# Grouping by Product and Calculating Total Sales

### Group the data by the 'Product' column.

In [9]:
df

         Date Product     Category  Quantity      Price
0  2023-08-25       B        Books         6  41.179916
1  2023-04-09       A     Clothing         5  60.637837
2  2023-09-09       C        Books         4  52.726407
3  2023-12-08       C  Electronics         5  15.073255
4  2023-11-27       A        Books         9  77.340840
..        ...     ...          ...       ...        ...
95 2023-02-07       A     Clothing         1  98.708900
96 2023-08-10       B  Electronics         2  21.154565
97 2023-09-15       C  Electronics        10  69.192607
98 2023-04-25       B        Books         3  49.002747
99 2023-06-14       A     Clothing        10  64.466072

[100 rows x 5 columns]

### Calculate the total sales (sum of Price * Quantity) for each product.