In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Creating a sample sales dataset
data = {
    'Date': [datetime(2023, random.randint(1, 12), random.randint(1, 28)) for _ in range(100)],
    'Product': [random.choice(['A', 'B', 'C']) for _ in range(100)],
    'Category': [random.choice(['Electronics', 'Clothing', 'Books']) for _ in range(100)],
    'Quantity': [random.randint(1, 10) for _ in range(100)],
    'Price': [random.uniform(10, 100) for _ in range(100)]
}
df = pd.DataFrame(data)
df.to_csv("./data.csv")

In [3]:
import pandas as pd
df=pd.read_csv("./data.csv")
df = pd.DataFrame(df)

# Grouping by Product and Calculating Total Sales

### Group the data by the 'Product' column.

In [5]:
product_type="B"
df[df['Product']==product_type]

    Unnamed: 0        Date Product     Category  Quantity      Price
1            1  2023-01-19       B  Electronics         6  64.235796
10          10  2023-10-17       B  Electronics         7  37.046701
11          11  2023-07-21       B  Electronics         8  23.684839
12          12  2023-03-16       B        Books         8  85.413990
18          18  2023-04-09       B     Clothing         2  88.890878
20          20  2023-08-22       B        Books         1  70.435071
21          21  2023-12-10       B  Electronics         9  16.267328
25          25  2023-07-17       B        Books         7  87.530265
27          27  2023-08-05       B        Books         1  35.433103
28          28  2023-07-10       B        Books         5  22.642861
30          30  2023-01-15       B  Electronics         6  25.340619
32          32  2023-01-06       B        Books         3  67.786138
34          34  2023-01-11       B     Clothing         8  49.342679
35          35  2023-08-16       B     Clothing         3  35.310756
36          36  2023-08-20       B  Electronics         5  13.828390
38          38  2023-03-02       B     Clothing         4  43.835200
41          41  2023-03-17       B     Clothing         9  89.757926
48          48  2023-07-10       B  Electronics        10  62.565890
50          50  2023-05-01       B     Clothing         4  86.375414
55          55  2023-08-08       B     Clothing         8  12.828735
56          56  2023-08-25       B  Electronics         7  58.705255
58          58  2023-05-20       B        Books         7  47.195463
60          60  2023-12-16       B        Books         6  10.234859
64          64  2023-01-06       B        Books         4  34.700138
68          68  2023-05-11       B        Books         9  47.846844
70          70  2023-07-10       B     Clothing         2  58.741417
71          71  2023-10-11       B     Clothing        10  86.203220
73          73  2023-10-01       B        Books         2  16.916229
80          80  2023-04-11       B        Books         9  59.196507
82          82  2023-10-01       B  Electronics         4  55.926457
83          83  2023-09-20       B        Books         1  33.752685
89          89  2023-08-12       B     Clothing         4  77.634854
96          96  2023-10-11       B  Electronics         4  71.605933
97          97  2023-03-05       B  Electronics         2  14.824964
98          98  2023-10-11       B  Electronics         4  13.634331

### Calculate the total sales (sum of Price * Quantity) for each product.

In [10]:
df[df['Product']=="A"][["Quantity","Price"]].prod(axis=1).sum(axis=0)

10392.083509335134

# Aggregating by Category and Finding Average Price

### Group the data by the 'Category' column.

In [11]:
reqd_category="Books"
df[df['Category']==reqd_category]

    Unnamed: 0        Date Product Category  Quantity      Price
3            3  2023-02-03       A    Books         3  77.121320
5            5  2023-10-13       C    Books         5  23.325343
9            9  2023-04-07       C    Books         8  50.341659
12          12  2023-03-16       B    Books         8  85.413990
14          14  2023-04-01       A    Books         1  76.953387
17          17  2023-12-21       C    Books         2  69.576204
20          20  2023-08-22       B    Books         1  70.435071
23          23  2023-01-26       A    Books         7  29.046003
25          25  2023-07-17       B    Books         7  87.530265
27          27  2023-08-05       B    Books         1  35.433103
28          28  2023-07-10       B    Books         5  22.642861
29          29  2023-08-11       A    Books         4  26.705058
31          31  2023-10-19       C    Books         8  15.047211
32          32  2023-01-06       B    Books         3  67.786138
40          40  2023-04-27       C    Books         3  13.338604
46          46  2023-05-13       C    Books         1  56.395373
49          49  2023-09-17       C    Books         9  11.322978
52          52  2023-06-24       A    Books         2  71.931563
53          53  2023-02-13       A    Books         9  67.922666
54          54  2023-07-20       C    Books         1  69.154461
58          58  2023-05-20       B    Books         7  47.195463
59          59  2023-11-25       A    Books         5  99.075830
60          60  2023-12-16       B    Books         6  10.234859
61          61  2023-06-17       A    Books         5  98.723522
63          63  2023-05-01       A    Books         6  27.973156
64          64  2023-01-06       B    Books         4  34.700138
66          66  2023-04-22       C    Books         2  10.311044
68          68  2023-05-11       B    Books         9  47.846844
73          73  2023-10-01       B    Books         2  16.916229
78          78  2023-06-15       C    Books         1  63.897770
80          80  2023-04-11       B    Books         9  59.196507
81          81  2023-08-28       C    Books         1  22.114853
83          83  2023-09-20       B    Books         1  33.752685
85          85  2023-08-22       C    Books         4  93.044616
87          87  2023-10-04       C    Books         4  39.079240
92          92  2023-01-28       C    Books         9  10.650212
93          93  2023-01-20       A    Books         9  64.652631
95          95  2023-09-19       A    Books         8  74.965603

### Calculate the average price of products within each category.

In [12]:
df[df['Category']==reqd_category][["Price"]].mean(axis=0)

Price    49.519854
dtype: float64

# Analyzing Monthly Sales

### Extract the month from the 'Date' column

In [13]:
df['Date']=pd.to_datetime(df['Date'])

In [14]:
df['Date'].dt.month

0      3
1      1
2      2
3      2
4     12
      ..
95     9
96    10
97     3
98    10
99     9
Name: Date, Length: 100, dtype: int32

### Group the data by month and calculate the total sales for each month

In [ ]:
reqd_month=6
sales_for_month=df[df['Date'].dt.month==reqd_month][['Quantity', 'Price']].prod(axis=1).sum(axis=0)
print(f"The total sales in {reqd_month} are {sales_for_month}")