In [1]:
import pandas as pd
import random
from datetime import datetime, timedelta

# Creating a sample sales dataset
data = {
    'Date': [datetime(2023, random.randint(1, 12), random.randint(1, 28)) for _ in range(100)],
    'Product': [random.choice(['A', 'B', 'C']) for _ in range(100)],
    'Category': [random.choice(['Electronics', 'Clothing', 'Books']) for _ in range(100)],
    'Quantity': [random.randint(1, 10) for _ in range(100)],
    'Price': [random.uniform(10, 100) for _ in range(100)]
}

In [2]:
df = pd.DataFrame(data)

# Grouping by Product and Calculating Total Sales

### Group the data by the 'Product' column.

In [3]:
product_type="A"
df[df['Product']==product_type]

         Date Product     Category  Quantity      Price
2  2023-03-09       A        Books         8  33.045360
3  2023-01-05       A        Books         4  81.555457
11 2023-09-06       A     Clothing         7  11.411902
16 2023-07-28       A        Books         2  90.144590
26 2023-07-21       A     Clothing         8  66.731988
30 2023-01-22       A     Clothing        10  31.858790
32 2023-03-04       A     Clothing         8  63.714528
34 2023-03-21       A     Clothing         9  20.359242
37 2023-11-09       A  Electronics         4  47.743066
38 2023-03-10       A        Books         2  59.623625
40 2023-09-24       A        Books         1  15.507629
43 2023-03-14       A        Books        10  19.019136
47 2023-09-08       A        Books         8  14.643895
55 2023-06-16       A  Electronics         2  20.282232
56 2023-12-20       A  Electronics         9  63.106162
57 2023-09-19       A        Books         9  70.374188
58 2023-02-12       A  Electronics         3  18.928110
61 2023-12-23       A        Books         7  98.623139
66 2023-02-08       A     Clothing        10  98.055637
68 2023-02-26       A        Books         3  85.367155
70 2023-01-21       A  Electronics         5  38.417652
73 2023-12-22       A     Clothing         6  29.033952
74 2023-11-20       A        Books         1  35.116643
79 2023-11-02       A     Clothing        10  60.679165
80 2023-02-22       A  Electronics         8  38.977450
84 2023-05-13       A        Books         1  88.086798
94 2023-12-13       A  Electronics         1  55.749160
96 2023-10-27       A     Clothing         4  83.740040

### Calculate the total sales (sum of Price * Quantity) for each product.

In [4]:
df[df['Product']=="A"][["Quantity","Price"]].sum(axis=1).sum(axis=0)

1599.8966891394452

# Aggregating by Category and Finding Average Price

### Group the data by the 'Category' column.

In [5]:
reqd_category="Books"
df[df['Category']==reqd_category]

         Date Product Category  Quantity      Price
0  2023-10-16       C    Books         1  81.716449
1  2023-12-03       C    Books         6  31.706101
2  2023-03-09       A    Books         8  33.045360
3  2023-01-05       A    Books         4  81.555457
5  2023-09-19       C    Books         1  67.069696
10 2023-10-04       C    Books         9  74.109858
12 2023-03-27       C    Books         2  33.634978
16 2023-07-28       A    Books         2  90.144590
19 2023-11-25       B    Books         5  20.277367
23 2023-11-23       B    Books         4  27.709158
27 2023-12-21       C    Books         6  68.197333
28 2023-09-05       C    Books         7  68.476340
29 2023-09-11       C    Books         2  12.023405
31 2023-12-08       C    Books         3  73.891637
35 2023-08-12       C    Books         4  52.353245
38 2023-03-10       A    Books         2  59.623625
40 2023-09-24       A    Books         1  15.507629
43 2023-03-14       A    Books        10  19.019136
45 2023-04-13       B    Books         4  61.136171
47 2023-09-08       A    Books         8  14.643895
49 2023-02-02       B    Books         9  29.037336
53 2023-05-08       B    Books         5  49.346003
54 2023-08-24       B    Books         3  24.006675
57 2023-09-19       A    Books         9  70.374188
59 2023-11-03       B    Books         7  36.144541
61 2023-12-23       A    Books         7  98.623139
62 2023-02-11       C    Books         4  74.100684
63 2023-06-16       B    Books         8  44.382939
65 2023-04-13       C    Books         8  44.066896
67 2023-04-09       B    Books        10  76.233438
68 2023-02-26       A    Books         3  85.367155
74 2023-11-20       A    Books         1  35.116643
77 2023-06-11       C    Books         5  53.335236
81 2023-06-24       C    Books         5  59.219923
83 2023-08-07       C    Books        10  59.438380
84 2023-05-13       A    Books         1  88.086798
85 2023-04-26       C    Books         1  88.163147
86 2023-01-04       B    Books         8  15.776036
87 2023-08-22       C    Books         8  70.072680
88 2023-04-23       B    Books         4  54.205842
92 2023-02-23       B    Books         9  87.752318
97 2023-09-24       B    Books         8  87.808416
98 2023-05-27       C    Books         9  39.918097

### Calculate the average price of products within each category.

In [6]:
df[df['Category']==reqd_category][["Price"]].mean(axis=0)

Price    54.800417
dtype: float64

# Analyzing Monthly Sales

### Extract the month from the 'Date' column

In [7]:
df['Date']=pd.to_datetime(df['Date'])

In [8]:
df['Date'].dt.month

0     10
1     12
2      3
3      1
4     11
      ..
95    11
96    10
97     9
98     5
99     1
Name: Date, Length: 100, dtype: int32

### Group the data by month and calculate the total sales for each month

In [9]:
reqd_month=6
sales_for_month=df[df['Date'].dt.month==reqd_month][['Quantity', 'Price']].prod(axis=1).sum(axis=0)
print(f"The total sales in {reqd_month} are {sales_for_month}")

The total sales in 6 are 2143.7084852662447